{% extends "templates/base.html" %}
{% block title %}О нас{% endblock %}
{% block content %}
        <div>
            <h2>О нас</h2>
            <a href="#">Вход</a>|<a href="#">Регистрация</a>
        </div>
        <nav>
           <ul>
               <li><a href="http://127.0.0.1:8000/">Главная</a></li>
               <li><a href="http://127.0.0.1:8000/about_us/">О нас</a></li>
               <li><a href="#">Для юристов</a></li>
               <li><a href="#">Сотрудничество</a></li>
               <li><a href="#">Поддержка</a></li>
           </ul>
        </nav>

        <h2>КОНТЕНТ</h2>

{% endblock %}